<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <br/>
  <br/>

  <a routerLink="/page1" routerDirection="forward">Page1</a>

  <div id="container">
    <p>In iOS click <strong>Page1</strong> to navigate and look at the back button animation.</p>
  </div>
</ion-content>
